.about {
    color: #56b84d;
    font-family: "Roboto";
    width: 100%;
}

.img-about #img-top img {
    width: 27vmax;
    height: auto;
}

.main-about {
    height: auto;
    margin: 0;
    padding-top: 7vh;
    max-width: 100%;
    margin-right: 4vw;
}

.title h1 {
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 1%;
}

.about .short {
    margin-top: -5px;
    font-size: 2.2vw;
    font-weight: 300;
    color: #0f782e;
    padding-right: 0;
}

.about .short span {
    font-size: 1.1em;
    font-weight: 500;
    color: #56b84d;
}

.about .long {
    font-family: Consolas;
    color: #0f782e;
    font-size: 1.1vw;
    padding-left: 0;
    text-align: justify;
}

.borders {
    width: 100%;
    border-top: 2px solid #0f782e;
    padding-top: .8%;
    margin-top: 2%;
    margin-right: 0;
}

.borders #email {
    font-weight: 400;
    color: #0f782e;
    font-size: 1.3vw;
}

.borders #email a {
    color: #0f782e;
    font-weight: 300;
}

.borders #cv {
    text-transform: uppercase;
    font-size: .9vw;
    text-align: right;
    font-weight: 500;
    z-index: 99999;
}

.borders #cv a {
    color: #0f782e
}

.borders #cv a span {
    display: inline-block;
    border: 1px solid #56b84d;
    padding: 2% 3%;
}

.borders #cv a span:hover {
    background-color: #ffda81;
    border: 1px solid #ffda81;
    transition: .5s;
}






/* design for smartphone potrait */
@media (max-width: 576px) {
    .title {
        padding-left: 0;
    }

    .title h1 {
        font-size: 4vh;
        font-weight: 700;
        margin-bottom: 0;

    }

    .main-about {
        margin-right: 0;
        padding-top: 22vh;
    }

    .about .short {
        font-size: 1.8vh;
        padding-left: 0;
    }

    .about .long {
        margin-top: 2%;
        font-size: 1.3vh;
    }

    .about .long p {
        margin-bottom: 1vh;
    }

    .borders {
        margin-top: -2%;
        border-top: .5vw solid #0f782e;
        margin-right: 0;
        margin-left: 0;
    }

    .borders #email {
        padding: 0;
        font-size: 1.1vh;
    }

    .borders #cv {
        font-size: .8vh;
    }
}

/* design for smatphone lanscape */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* design for tablet */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* design for desktop */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-about {
        padding-top: 15vh;
    }

    .img-about #img-top img {
        width: 70%;
        height: auto;
    }
}